body {
    padding-top: 50px;
    background: #fbe9d6;
    font-size: 16px;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 2s;
    animation-duration: 4s;
    animation-delay: 2s;
}

#landing {
    background: url('../images/index_bg.png') no-repeat;
    background-size: cover;
    color: #fff;
}

#landing #main {
    padding-top: 150px;
    font-size: 20px;
}

#landing #main form p {
    margin-bottom: 20px;
}

#graph {
    height: 300px;
}

#bill-detail {
    padding-top: 30px;
}

.navbar-header,
.navbar-inverse,
.navbar-collapse {
    background: #2d2d43;
    border-color: #2d2d43;
}

.navbar-nav > li > .dropdown-menu {
    background: #42424c;
}

.navbar-nav > li > .dropdown-menu > li > a {
    color: #f7f0f0;
}

.navbar-nav > li > .dropdown-menu > li > a:focus,
.navbar-nav > li > .dropdown-menu > li > a:hover {
    background: #a2a2a2;
}

#logo,
.nav-icon {
    height: 20px;
}

.icon-message {
    background: url('../images/message.png');
    background-size: cover;
}

.icon-message:hover {
    background: url('../images/message-w.png');
    background-size: cover;
}

.center-block {
    display: block;
    margin: 0 auto;
}

#user-image img {
    height: 170px;
    width: : 170px;
}

.media-object {
    height: 64px;
    width: 64px;
}

#bills .panel-body {
    background: #f7f1e7;
}

#bills .panel-body .dl-horizontal dt,
#bills .panel-body .dl-horizontal dt {
    margin-bottom: 10px;
}

#bills .panel,
#bill-selector {
    box-shadow: 5px 5px 2px rgba(136, 136, 136, 0.1);
    border-radius: 5px;
    background: #fff;
}

#bills .panel,
#bills #bill-selector > .panel > .panel-body {
    background: #fff;
}

#bills .panel-default > .panel-heading,
#bills .panel-default > .panel-footer {
    background: #fff;
}

#bills .btn.btn-success {
    background: #32b16c;
    border-radius: 10px;
    width: 105px;
    height: 45px;
    font-size: 16px;
}

#bills #bill-item .panel-default > .panel-heading {
    border-color: #7d7575;
}

#bills #bill-selector li {
    list-style: none;
}

#bills #bill-selector .panel-body > li.active:before,
#bills #bill-selector .panel-body > li:hover:before {
    content: "\2588";
    padding-right: 8px;
    margin-left: -3px;
    color: #32b16c;
    transition: all 0.4s;
}

.mainpage-bg-image {
    background-image: url(../images/house.jpg);
    height: 400px;
    background-size: cover;
    background-position: center bottom;
    margin-bottom: 20px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 30px 0;
    color: #fff;
    height: 340px;
    padding: 15px 0 0 15px;
}

.title {
    font-size: 26px;
}

#news #table {
    background-color: transparent;
    border: none;
}

#news #btn {
    font-size: 14px;
    width: 80px;
    margin-top: -1px;
    padding: 6px 0;
    margin-left: 12px;
}

#news #search {
    margin-top: -1px;
}

#news #page {
    float: right;
}

#news #page button {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -1px;
    padding: 4px 6px;
}

#newbill label {
    text-align: right;
}

#newbill .margin {
    margin: 15px 0 0 0;
    display: flex;
}

#issue-user-box {
    padding-top: 10px;
}

#issue-user-box img {
    width: 100px;
    height: 100px;
}

#issue-user-box #user-data {
    padding: 20px;
}

#issue-correspondence img {
    width: 100px;
    height: 100px;
}

#issue-correspondence #reply textarea {
    resize: none;
    overflow: hidden;
}

#issue-correspondence .user-data {
    width: 100px;
    height: 100px;
}

#user-personal-data {
    background: brown;
    padding: 70px 50px 50px 50px;
    color: #eee;
}

#user-personal-data h2 {
    padding-left: 55px;
}

#user-personal-data dl dt,
#user-personal-data dl dt {
    margin-bottom: 10px;
}

#user-personal-room {
    background: #fff;
    padding: 35px;
}

#user-personal-room .media {
    padding: 10px;
    border-radius: 10px;
}

#user-personal-room .media:nth-child(1) {
    background: pink;
}

#user-personal-room .media .media-heading {
    font-weight: bold;
}

#user-personal-room .media .media-object {
    margin: 10px;
}

footer {
    padding-top: 20px;
}

@media only screen and (max-width: 1000px) {
    #user-image img {
        display: block;
        margin: 0 auto;
    }
    #issue-correspondence .user-data {
        display: inline-block;
    }
}
